<p id="notice"><%= notice %></p>

<h1>Listing Airs</h1>

<% @airs.each do |air| %>
   
     <div class="row">
       <div class="col-sm-6 col-md-4">
         <div class="thumbnail">
           <%= image_tag air.image.url(:medium) %>
             <div class="caption">
                 <h1>Php <%= air.price %> - <%= air.room_name %></h1>
                 <p><%= air.room_type %> - <%= air.beds %> beds</p>
                 <%= rating_for air, 'review' %>
                   <p><a><%= link_to 'Show', air %></a>
                   <a><%= link_to 'Destroy', air, method: :delete, data: { confirm: 'Are you sure?' } %></a></p>
             </div>
         </div>
       </div>
     </div>

    <% end %>

<br>

<%= link_to 'New Air', new_air_path %>
